In [8]:
import pandas as pd

# Replace 'your_file.xlsx' with the path to your Excel file
df = pd.read_excel('Schedules_Domestic.xlsx')

In [9]:
df.head

<bound method NDFrame.head of         ORIGIN DESTINATION                                          FREQUENCY  \
0    AHMEDABAD     AYODHYA  MONDAY, TUESDAY, THURSDAY, FRIDAY, SATURDAY, S...
1    AHMEDABAD     AYODHYA  MONDAY, TUESDAY, THURSDAY, FRIDAY, SATURDAY, S...
2    AHMEDABAD     AYODHYA                        TUESDAY, THURSDAY, SATURDAY
3    AHMEDABAD     AYODHYA  MONDAY, TUESDAY, THURSDAY, FRIDAY, SATURDAY, S...
4    AHMEDABAD    BAGDOGRA  MONDAY, TUESDAY, THURSDAY, FRIDAY, SATURDAY, S...
..         ...         ...                                                ...
912   VARANASI   HYDERABAD                  MONDAY, WEDNESDAY, FRIDAY, SUNDAY
913   VARANASI   HYDERABAD                        TUESDAY, THURSDAY, SATURDAY
914   VARANASI      JAIPUR                                              DAILY
915   VARANASI   KHAJURAHO                                 TUESDAY, WEDNESDAY
916        NaN         NaN                                                NaN

    FLIGHT NO DEPARTURE   ARRIVAL                 VIA EFFECTIVE FROM  \
0     SG  511  05:55 AM  08:00 AM                   -      17 MAR 24
1     SG  511  05:55 AM  08:00 AM                   -      18 MAR 24
2     SG  611  05:45 AM  12:45 PM  CHENNAI, HYDERABAD      31 MAR 24
3     SG  511  11:10 AM  01:05 PM                   -      31 MAR 24
4     SG 8187  03:30 PM  06:10 PM                   -      31 MAR 24
..        ...       ...       ...                 ...            ...
912   SG  616  01:45 PM  03:45 PM                   -      31 MAR 24
913   SG  323  02:00 PM  03:55 PM                   -      27 OCT 24
914   SG 2974  09:30 AM  11:10 AM                   -      27 OCT 24
915   SG 2932  06:50 PM  07:50 PM                   -      27 OCT 24
916       NaN       NaN       NaN                 NaN            NaN

    EFFECTIVE TILL  REMARKS
0        17 MAR 24      NaN
1        30 MAR 24      NaN
2        26 OCT 24      NaN
3        26 OCT 24      NaN
4        26 OCT 24      NaN
..             ...      ...
912      26 OCT 24      NaN
913      28 FEB 25      NaN
914      28 FEB 25      NaN
915      28 FEB 25      NaN
916            NaN      NaN

[917 rows x 10 columns]>

In [14]:
unique_values_count = df['DESTINATION'].nunique()
unique_values = df['DESTINATION'].unique()

print("Number of unique values in the column:", unique_values_count)
print(unique_values)

Number of unique values in the column: 35
['AYODHYA' 'BAGDOGRA' 'CHENNAI' 'DELHI' 'GOA' 'HYDERABAD' 'JABALPUR'
 'JAIPUR' 'MUMBAI' 'PORT BLAIR' 'PUNE' 'VARANASI' 'AHMEDABAD' 'BENGALURU'
 'DARBHANGA' 'KOLKATA' 'PATNA' 'GUWAHATI' 'PONDICHERRY' 'SHIRDI'
 'AMRITSAR' 'DHARAMSHALA' 'JAMMU' 'JHARSUGUDA' 'KANDLA' 'KHAJURAHO'
 'KOCHI' 'LEH' 'PAKYONG' 'SHILLONG' 'SRINAGAR' 'MADURAI' 'TIRUPATI'
 'TEZPUR' 'BHAVNAGAR' nan]

In [15]:
substring_to_check = 'OCT'
df = df[~df['EFFECTIVE FROM'].str.contains(substring_to_check)]

TypeError: bad operand type for unary ~: 'float'